@model IEnumerable<migajas_amor.app.Models.Pedido>
@using migajas_amor.app.Utilidades;
@{
    ViewData["Title"] = "Pedidos ";

    Paginacion paginacion = new Paginacion();
    int paginaActual = 0;
    if (ViewBag.Paginacion != null)
    {
        paginacion = ViewBag.Paginacion;
        paginaActual = paginacion.PaginaActual;
    }
}

<h2>Pedidos Recibidos</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha De Pedido</th>
            <th>Estado</th>
            <th>Direcion De Entrega</th>
            <th>Telefono</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.Cliente</td>
                <td>@pedido.Producto</td>
                <td>@pedido.Cantidad</td>
                <td>@pedido.FechaPedido</td>
                <td>@pedido.Estado</td>
                <td>@pedido.DireccionEntrega</td>
                <td>@pedido.Telefono</td>
                <td>@pedido.Comentarios</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_paginacion" model="@paginacion" /> 